<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">Blueprint BP-TD110 Label Printer @ %h</name>
  <service protocol="any">
    <type>_ipp._tcp</type>
    <subtype>_universal._sub._ipp._tcp</subtype>
    <port>631</port>
    <txt-record>txtvers=1</txt-record>
    <txt-record>qtotal=1</txt-record>
    <txt-record>rp=printers/Blueprint-TD110</txt-record>
    <txt-record>ty=Blueprint BP-TD110, 1.4.1</txt-record>
    <txt-record>adminurl=http://%h.local.:631/printers/Blueprint-TD110</txt-record>
    <txt-record>note=Raspberry Pi</txt-record>
    <txt-record>priority=0</txt-record>
    <txt-record>product=(BP-TD110)</txt-record>
    <txt-record>pdl=application/pdf,application/postscript,image/jpeg,image/png,image/pwg-raster,image/urf</txt-record>
    <txt-record>UUID=d62d7b9b-3504-3a88-64e1-802b743c8d55</txt-record>
    <txt-record>URF=V1.4,CP1,W8,PQ4,RS203,FN3</txt-record>
    <txt-record>mopria-certified=1.3</txt-record>
    <txt-record>Copies=T</txt-record>
    <txt-record>Color=F</txt-record>
    <txt-record>Duplex=F</txt-record>
    <txt-record>printer-type=0x9046</txt-record>
  </service>
</service-group>
